@import '../utils';

$buttonStdColor: #000000;
$buttonStdHoverColor: #2a2a2a;
$buttonPrimaryColor: #DC143C;
$buttonPrimaryHoverColor: #DC143C;


.button {
  @include font;
  display: flex;
  justify-content: center;
  border: 1px solid $buttonStdColor;
  border-radius: toRems(50px);
  line-height: toRems(100px);
  color: $textColor;
  font-size: toRems(30px);

  background: {
    color: $buttonStdColor;
  };
  transition: all .3s ease-in;

  &:hover {
    background: {
      color: $buttonStdHoverColor;
    }
  }

  &.primary {
    background: {
      color: $buttonPrimaryColor;
    };
    border-color: $buttonPrimaryColor;
    color: #2a2a2a;

    &:hover {
      background: {
        color: $buttonPrimaryHoverColor;
      };
    }
  }
}
