@import "../utils";

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: toRems(40px);

  background: #373736;
  color: #7f858f;
}
.footer-content {
  position: relative;
  flex-basis: 25%;

  @include portrait {
    flex-basis: 50%;
  }
}
.footer-content > img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}