@import "../utils";

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  padding: toRems(40px);

  background: rgba(33, 33, 33, 1);
  color: #7f858f;
}

.footer-content {
  position: relative;
  flex-basis: 25%;

  .footer-content--logo {
    position: relative;
    left: 50%;
    width: 20%;
    height: auto;
    transform: translateX(-50%);
    @include mobile{
      width: 50%;
    }
  }

  .footer-content--label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;

    @include mobile{
      flex-direction: column;
      line-height: 1.8;
    }
  }

  .footer-content-label--item {
    font-size: toRems(23px);
    font-family: 'Gotham', 'Roboto', sans-serif;
    color: white;
    font-weight: 200;
    flex-basis: 15%;
    text-align: center;
  }
  .footer-content--list{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    @include mobile{
      text-align: center;
    }
  }
  .border{
    border-bottom: 1px solid rgba(42,42,42,1);
    padding-top: 2%;
    width: 50%;
  }

  @include portrait {
    flex-basis: 50%;
  }
}

