@import '../utils';
@import "../variables";

.head-text {
  @include font;
  text-align: center;
  font-weight: 700;
  color: $textColor;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: toRems(5px);
  font-size: toRems(80px);

  @include desktop {
    font-size: toRems(80px);
  }

  @include large-tablet {
    font-size: toRems(70px);
  }

  @include tablet {
    font-size: toRems(50px);
  }

  @include mobile {
    font-size: toRems(20px);
  }

  &.uppercase {
    text-transform: uppercase;
  }
}