.container-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-component-block {
  margin: 0;
  padding: 0;
  width: 50%;
}

.container-component-block > img {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
