@import "../utils";

.proposals-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  background: {
    image: url("./img/block2.jpg");
    repeat: no-repeat;
    size: 100%;
  }
;

  @include mobile {
    background: {
      size: cover;
      position-x: 50%;
    }
  ;
  }
  @include tablet {
    background: {
      size: cover;
      position-x: 50%;
    }
  ;
  }

  .proposal-item {
    margin-bottom: -5px;
    padding: 5% 0 5% 0;
    flex-basis: 50%;
    flex-grow: 1;
    text-align: center;
    background-color: rgba(99, 79, 29, .6);
  }
  .proposal-item button:last-child {
    color: #ffffff;
    border: 2px solid #DC143C;
    background-color: #DC143C;
  }
  .proposal-item button:first-child {
    color: #ffffff;
    border: 2px solid #14b81f;
    background-color: #14b81f;

  }

  .proposals-section-label--top {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-weight: 700;

    width: 60%;
    margin-top: 1%;
    margin-left: 35%;
    padding: 0 12px 16px 12px;

    color: white;
    line-height: 2.5;

    @include mobile {
      font-size: toRems(20px);
      text-align: center;
      margin: 0 0 0 20%;
    }
    @include tablet{
      margin-left: 25%;
    }
    @include desktop{
      margin-left: 20%;
    }
  }
  .proposals-section--button {
    width: 30%;
    padding: 12px 22px 12px 22px;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    border-radius: toRems(50px);
    cursor: pointer;

    @include mobile {
      font-size: toRems(20px);
      width: 70%;
    }
    @include tablet {
      width: 50%;
    }
    @include desktop{
      width: 70%;
    }
  }

  .information-block-label--top {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;

    width: 50%;
    margin-left: 25%;
    padding-top: 3%;
    @include tablet{
      font-size: toRems(25px);
    }
  }
  .border {
    border-bottom: 1px solid black;
    width: 70%;
    margin-left: 15%;
  }
  .information-block-label {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;

    //border-bottom: 1px solid black;
    width: 50%;
    margin-left: 25%;
  }
  .information-block-label--bottom {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;

    width: 50%;
    margin-left: 25%;
    padding-bottom: 3%;
    @include tablet{
      font-size: toRems(25px);
    }
  }
  .information-block--button {
    width: 30%;
    padding: 12px 22px 12px 22px;
    margin-bottom: 3%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;

    border-radius: toRems(50px);
    cursor: pointer;

    @include mobile {
      width: 70%;
      font-size: toRems(20px);
    }
    @include tablet{
      width: 70%;
    }
    @include desktop{
      width: 50%;
    }
  }
  .information-block-button--content button:first-child {
    color: #ffffff;
    border: 2px solid #DC143C;
    background-color: #DC143C;

  }

  .white {
    background-color: white;
  }
  @include portrait {
    .proposal-item {
      flex-basis: 100%;
    }
  }
}