@import "../utils";
@import "../variables";

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider {
  display: flex;
  flex-direction: column;
  background-color: white;

}

@include portrait {

}

.carousel {
  position: relative;
  margin-top: 3%;

  .carousel-slide {
    margin-right: auto;
    margin-left: auto;
    display: none;
    max-width: 900px;
    list-style-type: none;
    text-align: center;

    &--active {
      display: block;
    }

    //content of slides
    .carousel-slide--content {
      margin-bottom: 19px;
    }

    .carousel-arrow--left {
      left: 32px;
    }
    .carousel-arrow--right {
      right: 32px;

    }
    .carousel-arrow {
      width: 500px;
      height: 500px;

      position: absolute;
      top: 50%;
      display: block;
      color: #111;
      cursor: pointer;
      opacity: .75;
      transform: translateY(-50%);
      transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

      &:focus {
        outline: 0;
      }
      &:hover {
        opacity: .5;
      }

    }
  }

  //carousel indicators
  .carousel-indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5% 0 .5% 0;

    li{
      margin: 0;
      width: 30px;
    }

    .carousel-indicator {
      display: flex;
      width: 24px;
      height: 5px;
      background-color: black;
      cursor: pointer;
      opacity: .15;
      transition: opacity .15s cubic-bezier(.4, 0, 1, 1);

      &:hover {
        opacity: .5;
      }
      &--active {
        &,
        &:hover {
          opacity: .75;
        }
      }
    }

  }
}

.welcome-block {

  background: black no-repeat;
  background-size: 100%;

  .welcome-block-text {

    margin: 10% 0 5% 0;
  }
  .welcome-block-button {
    display: flex;
    justify-content: center;
    padding: .8rem 0 2.9rem 0;
  }
  .welcome-block-button--content {
    flex-basis: 18.75rem;
  }
}