@import "../utils";
@import "../variables";

.text-block {
  @include font;
  color: $textColor;
  font-size: toRems(50px);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .text-block-content {

  }

  @include mobile{
    font-size: toRems(20px);
    flex-direction: column;
    line-height: 1.8;
    text-align: center;
  }
  @include tablet{
    font-size: toRems(30px);
  }
  @include desktop{
    font-size: toRems(40px);
  }

  &.center {
    text-align: center;
  }

  &.no-wrap {
    white-space: nowrap;
  }

  &.dark {
    color: $darkTextColor;
  }

  &.attractive {
    color: $attractiveTextColor;
  }

  &.bold {
    font-weight: bold;
  }

}